@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;500&family=Dancing+Script:wght@700&family=IBM+Plex+Mono:wght@400;500&family=Noto+Serif:wght@100;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFEFE1;
}

header {
    background-color: #435059;
    position: static;
    width: 100%;
    padding: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.buttons {
    display: flex;
    gap: 30px;
}

.icons {
    display: flex;
    gap: 40px;
}



.button {
    border-radius: 28px;
    height: 46px;
    width: 93px;
    color: #FFEFE1;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btnCreate {
    background: #86A6B3;
}

#btnCreate:hover {
    background: #627b85;
}

#btnShop:hover {
    background-color: #435059;
}

.button:hover {
    background: #627b85;
}

#landing {
    display: flex;
    background-image: url(../images/landing-background.jpeg);
    background-size: cover;
    background-position: center center;
    align-items: center;
    justify-content: center;
}

.message-card {
    display: flex;
    flex-direction: column;
    width: 716px;
    border-radius: 45px;
    background-color: #FFEFE1;
    padding: 50px;
    margin: 100px;
    font-family: 'Montserrat', 'sans-serif';
    gap: 20px;
}

.text-card {
    color: #000;
    font-size: 40px;
}

.input-card {
    width: 100%;
    height: 64px;
    border-radius: 69px;
    border: 1px solid #000;
    background: #FFEFE1;
    color: #000;
    font-size: 25px;
    text-indent: 76px;
}

.img-input {
    position: relative;
    top: 50px;
    left: 25px;
}

.free-shipping {
    background: #435059;
    width: 100%;
    height: 75px;
    color: #FFEFE1;
    font-size: 25px;
    font-family: 'Montserrat', 'sans-serif';
    text-align: center;
    padding-top: 20px;
}

#info {
    display: flex;
    width: 100%;
    margin: 100px 0px 100px 0px;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 80px;
    color: #FFF;
    font-size: 40px;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 100;
}

.info-btn {
    color: #FFEFE1;
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    border-radius: 28px;
    background: #86A6B3;
    align-self: center;
    width: 50%;
}

.info-create {
    width: 620px;
    background: #435059;
    padding: 50px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: flex-start;
}

.info-shop {
    width: 620px;
    background: #435059;
    padding: 50px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: flex-start;
}

footer {
    margin-top: 30px;
    background-color: #435059;
    height: 273px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 15px;
    font-family: 'Inter', 'sans-serif';
}

.footer-icons {
    display: flex;
    gap: 30px;
}


/**
----------------------Catálogo--------------------------------
*/

.welcome {
    position: static;
    width: 100%;
    background: linear-gradient(360deg, #FFEFE1 0%, #FBF6EA 23.30%, #EBCAD6 45.51%, #CEA7D3 68.97%, #8B98E3 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 179px;
}

.welcome>h3 {
    color: #FFF;
    margin-bottom: 9px;
    margin-top: 51px;
    font-size: 48px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-weight: 700;
}

.welcome>h1 {
    color: #000746;
    text-align: center;
    font-size: 56px;
    font-family: 'Noto Serif';
    font-weight: 100;
    margin-bottom: 67px;
}

.welcome>p {
    color: rgba(0, 7, 70, 0.50);
    text-align: center;
    font-size: 24px;
    font-family: 'IBM Plex Mono';
}

.welcome>a {
    margin-top: 99px;
    width: 232px;
    background-color: #F26DAA;
    height: 55px;
    color: #FFF;
    font-size: 25px;
    font-family: 'IBM Plex Mono';
    border-style: solid;
    border-color: #F7B6D0;
    border-radius: 12px;
    border-width: 4px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome>a:hover {
    background-color: #F282B4;
}

.shop {
    position: static;
    border-style: solid;
    border-color: red;
    border-width: 5px;
    margin-top: 0px;
}

.shop>h1 {
    color: #000746;
    text-align: center;
    font-size: 56px;
    font-family: 'Noto Serif';
    font-weight: 500;
}

.products-container {
    border-style: solid;
    border-color: blue;
    border-width: 5px;
    margin-top: 74px;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
}

.filters {
    position: static;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 30px;
}

.search {
    display: flex;
    flex-direction: column;
    gap: 26px;
}


.search>h3 {
    color: #000;
    font-size: 35px;
    font-family: 'Montserrat';
    font-weight: lighter;
    text-align: center;
}

.input-search {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #000;
    background: #FFEFE1;
    color: #000;
    font-size: 20px;
    text-indent: 40px;
}

.img-search {
    position: relative;
    top: 38px;
    left: 13px;
}


.filter>h3 {
    color: #000;
    font-size: 35px;
    font-family: 'Montserrat';
    font-weight: lighter;
    text-align: center;
    margin-bottom: 50px;
}

.filter>li {
    list-style-type: none;
}

.filter>li>ul {
    border-top-style: solid;
    border-color: black;
    color: black;
    font-size: 20px;
    font-family: 'Montserrat';
    padding: 15px 10px 15px 10px;
    display: flex;
    justify-content: space-between;
}


.selected {
    font-weight: 600;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 34px;
}

.product-card {
    border-style: solid;
    border-radius: 17px;
    height: 416px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.product-image {
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}

.product-title {
    padding-left: 12px;
    color: #000;
    font-size: 20px;
    font-weight: 600;
}

.product-author {
    padding-left: 12px;
}

.product-bought {
    padding-left: 8px;
}

.product-price {
    padding-left: 14px;
}
@media (width >=1400px) {
    .shop {
        padding-left: 110px;
        padding-right: 110px;
    }

    .filters {
        width: 20%;
    }

    .products {
        width: 80%;
    }

}



@media (width < 1200px) {
    .filters {
        width: 30%;
    }

    .products {
        width: 70%;
    }
}


@media (width >=700px) {
    .nav-phone {
        display: none;
    }

    .nav-desktop {
        display: contents;
    }

}


@media (width < 700px) {
    .nav-desktop {
        position: absolute;
        top: 136px;
        display: flex;
        flex-direction: column;

    }

    .navbar-logo{
        background-color: red;
    }

    .buttons{
        order: 1;
    }

    .nav-phone {
        display: contents;
    }

    header{
        padding: 10px;
    }

    .filters{
        display: none;
    }
}